/**
 *  Bootstrap Changes
 */

text {
    fill: #555;
    font-size: small;
}

.bar_g {
    fill: lightgrey;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}

.bar_r {
    fill: #ee5f5b;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}

.bar_s {
    fill: #f89406;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}

.bar_c {
    fill: #62c462;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}

.bar_v {
    fill: #5bc0de;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}

.bar {
    fill: #aaa;

    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;


}